<div class="columns-3">
    <div class="columns-3__item banner">
      <div class="banner__container">
          {% assign url_link = include.b1_full_link | default: site.github.url | append: include.b1_link %}
          <h3 class="banner__heading">
              <a class="banner__heading-link"
                 href="{{ url_link }}" {% if include.b1_external %} target="_blank" {% endif %}>
                  {% assign img_size = include.b1_img_size | default: "48px" %}
                  <img src='{{include.b1_img}}' height='{{img_size}}' width='{{img_size}}'>
                  <br>
                  <strong>{{include.b1_title}}</strong>
                  <br>
                  {{include.b1_subtitle}}
              </a>
          </h3>
          <a href="{{ url_link }}"
             class="banner__button u-button u-button--main">
              {{ include.b1_button }}
          </a>
      </div>
    </div>
    <div class="columns-3__item banner__no-border">
    </div>
    <div class="columns-3__item banner__no-border">
    </div>
</div>
